{% extends 'base.html' %}

{% block content %}
    <section class="py-1 border-top border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Add task to "{{ category.name }}" category</h2>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Task title</label>
                    <input class="form-control" name="title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Due date</label>
                    <input type="date" class="form-control" name="due_date">
                </div>
                <div class="mb-3">
                    <label class="form-label">File</label>
                    <input class="form-control" type="file" name="file">
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-control" name='status'>
                        {% for key, value in status_choices.items %}
                            <option value='{{ key }}'>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <select class="form-control" name='tags' multiple>
                        {% for tag in tag_list %}
                            <option value="{{ tag.pk }}">{{ tag.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </section>
{% endblock content %}