{%extends 'base.html'%}
 {% block title%}
        <title>Categories </title>
{%endblock title%}
{% block content%}

   <!-- Main Content-->
        <div class="container px-4 px-lg-5">

            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                       {% for cat in all_category%}
                    <!-- categoty preview-->
                    <div class="post-preview">
                        <a href="{% url 'category_details' cat.id %}">
                            <h2 class="post-title">{{cat.name}}</h2>
                        </a>
                            <h6 class="post-subtitle">{{cat.description}}</h6>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor%}
                </div>
            </div>
        </div>

<!-- Form Category -->
<article class="mb-4">
<div class="container px-4 px-lg-5">

<form class=" row gx-4 gx-lg-5 justify-content-center needs-validation" >

</form>
</div>
</article>

{% endblock content%}