{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="mb-4">All Categories</h3>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5><a class="card-title" href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}