{% extends 'base.html' %}

{% block content %}
    <section class="py-1 border-top">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">All tasks in "{{ category.name }}" category</h2>
            </div>
            <table class="table border-top">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Title</th>
                    <th scope="col" class="text-center">Created date</th>
                    <th scope="col" class="text-center">Due date</th>
                    <th scope="col" class="text-center">File</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Details</th>
                </tr>
                </thead>
                {% for task in tasks %}
                    <tbody>
                        <tr>
                            <th class="text-center">{{ task.title }}</th>
                            <td class="text-center">{{ task.created }}</td>
                            <td class="text-center">{{ task.due_date }}</td>
                            <td class="text-center">{{ task.file }}</td>
                            <td class="text-center">{{ task.status }}</td>
                            <td class="text-center"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'task_detail' task.pk %}">View details</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>    
    </section>

    <section class="py-1 border-top">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Update category</h2>
            </div>
            <form method="post" action="{% url 'update_category' category.pk %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" selected>Category name</label>
                    <input class="form-control" name="category_name" value="{{ category.name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" rows="3" name="description">{{ category.description }}</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input class="form-control" type="file" name="image">
                </div>
                <button type="submit" class="btn btn-secondary">Update</button>
            </form>
        </div>
    </section>

    <section class="py-1 border-top border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h3 class="fw-bolder">Add task</h3>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Task title</label>
                    <input class="form-control" name="title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Due date</label>
                    <input type="date" class="form-control" name="due_date">
                </div>
                <div class="mb-3">
                    <label class="form-label">File</label>
                    <input class="form-control" type="file" name="file">
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-control" name='status'>
                        {% for key, value in status_choices.items %}
                            <option value='{{ key }}'>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <select class="form-control" name='tags' multiple>
                        {% for tag in tag_list %}
                            <option value="{{ tag.pk }}">{{ tag.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </section>
{% endblock content %}