{% extends 'base.html' %}

{% block content %}
    <section class="py-1 border-top border-bottom">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="card text-center col-xl-6">
                    <h4 class="card-header bg-white fw-bolder py-3">
                        {{ task.title }}
                    </h4>
                    <div class="card-body">
                        <p class="card-text fw-bolder py-3" style="font-size: 20px;">{{ task.description }}</p>
                        <p class="card-text"><p class="fw-bolder">Created date:</p> {{ task.created }}</p>
                        <p class="card-text"><p class="fw-bolder">Due date:</p> {{ task.due_date }}</p>
                        <p class="card-text"><p class="fw-bolder">Category:</p> {{ task.category.name }}</p>

                        <p class="card-text">
                            <p class="fw-bolder">Tags:</p>
                            {% for tag in task.tags.all %}
                                <p>{{ tag.label }}</p>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer bg-white fw-bolder">
                        {{ task.status }}
                    </div>
                </div>
            </div>       
        </div>
        <div class="row gx-5 justify-content-center border-top">
            <div class="text-center py-5">
                <h2 class="fw-bolder">Add tag</h2>
            </div>
            <form method="post" action="" class="text-center col-xl-3">
                {% csrf_token %}
                <div class="mb-2">
                    <label class="form-label">Label</label>
                    <input class="form-control" name="tag">
                </div>
                <button type="submit" name="tag_submit" class="btn btn-secondary mb-5">Submit</button>
            </form>
        </div>    
    </section>
    <section class="py-1 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Update task</h2>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="update_submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </section>
    
{% endblock content %}


