{% extends 'base.html' %}

{% block content %}
    <section class="py-1 table-bordered">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Categories</h2>
            </div>
            <table class="table border-top">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Description</th>
                    <th class="text-center" scope="col">Image</th>
                    <th class="text-center" scope="col">Update</th>
                    <th class="text-center" scope="col">Delete</th>
                    <th class="text-center" scope="col">Details</th>
                  </tr>
                </thead>
                {% for category in categories %}
                    <tbody>
                        <tr>
                            <td class="text-center">{{ category.name }}</td>
                            <td class="text-center">{{ category.description|slice:":50" }}</td>
                            <td class="text-center">{{ category.image }}</td>
                            <td class="text-center"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'update_category' category.pk %}">+</a></td>
                            <td class="text-center"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'delete_category' category.pk %}">+</a></td>
                            <td class="text-center"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-50-hover" href="{% url 'category_detail' category.pk %}">+</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>    
    </section>
    <section class="py-1 border-top border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Add new category</h2>
            </div>
            <form method="post" action="{% url 'categories' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Category name</label>
                    <input class="form-control" name="category_name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input class="form-control" type="file" name="image">
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </section>
{% endblock content %}

