{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="mb-4">Author Details</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.name }}</h5>
                        {% if author.image %}
                            <img src="{{ author.image.url }}" class="img-fluid rounded-start" alt="{{ author.name }}" style="height:10rem; width:10rem object-fit">
                        {% endif %}
                        <p class="card-text">Bio: {{ author.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}